<h1>Simple Timeline 입니다.</h1>


<%=form_tag 'write', method:'post' do %>
    <div class="form-group">
        <textarea name="text" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary">
    </div>
<% end %>

<ul>
<% @blogs.each do |b| %>
<li><p class="bg-info"><%=b.user.email%></p>
    <div class="well">
       <%=b.content%>
    </div></li>
    <%=form_tag 'comment', method:'post', class:"form-inline" do %>
        <input type='hidden' name='blog_id' value='<%=b.id%>'>
            <div class="form-group">
        <input type='text' name='comment' class="form-control">
        </div>
            <div class="form-group">
        <input type='submit' class="btn btn-primary">
        </div>
    <% end %>
    <a href ="/destroy?id=<%=b.id%>">delete</a>
    <a href ="/modify?id=<%=b.id%>">modify</a>

    <ol>
    <% b.comments.reverse.each do |c|%>
    <li><%=c.user.email%> : <%=c.msg%></li>
    <% end %>
    </ol>
<% end %>
</ul>